<form action="/edit.profile" method="POST">
    <div class="input-group">
        <span class="input-group-text">Имя и фамилия</span>
        <input name="name" type="text" aria-label="First name" class="form-control">
        <input name="surname" type="text" aria-label="Last name" class="form-control">
    </div>
    <input name="date" type="text" class="form-control" placeholder="Дата рождения" >
    <input name="date" class="form-control" type="text" placeholder="Город">


    <select class="form-select" aria-label="Default select example">
        <option selected>Выпуск</option>
        <option value="1">медведи 25 сентября</option>
        <option value="2">Еноты 23 октября</option>
        <option value="3">Волки 27 ноября</option>
        <option value="3">Лисы 25 декабря</option>
        <option value="3">Орлы 12 февраля</option>
        <option value="3">Орлы 12 февраля</option>
        <option value="3">Совы 12 марта</option>
        <option value="3">Ежи 16 апреля</option>
        <option value="3">Пчелы 21 мая</option>
        <option value="3">Бобры 11 июня</option>
        <option value="3">Медведи 2 июля</option>
    </select>

    <select class="form-select" aria-label="Default select example">
        <option selected>Программа формат обучения</option>
        <option value="1">Оффлайн МСК</option>
        <option value="2">Оффлайн Санкт-Петербург</option>
        <option value="3">Онлайн МСК</option>
        <option value="3">Онлайн Санкт-Петербург</option>
    </select>

   <div class="input-group mb-3">
    <input name="links" type="text" class="form-control" placeholder="ссылка на соц.cети" aria-label="Recipient's username" aria-describedby="button-addon2">
</div>

</form>
