<div class="container">
    <h3>Редактирование</h3>
</div>
<form action="/review" >

    <div class="mb-3">
        <input name="company" class="form-control" value="Update" type="text" placeholder="Название компании">
    </div>

    <div class="mb-3">

        <input name="dateOfInterview" class="form-control" value="Update" type="date" placeholder="Дата собеседования">
    </div>
    <div class="mb-3">

        <input name="positionName" class="form-control" value="Update" type="text" placeholder="Вакансия">
    </div>
    <div class="mb-3">

        <input name="locationOfCompany" class="form-control" value="Update" type="text" placeholder="Город компании">
    </div>
    <div class="mb-3">

        <input name="technologies" class="form-control" value="Update" type="text" placeholder="Стек">
    </div>
    <div class="mb-3">

        <input name="techquestions" class="form-control" value="Update" type="text" placeholder="Технические вопросы">
    </div>
    <div class="mb-3">

        <input name="generalquestions" class="form-control" value="Update" type="text" placeholder="Общие вопросы">
    </div>
    <div class="mb-3">
        <div class="form-floating">
            <textarea name="comments" class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Комментарии</label>
        </div>
    </div>

    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Оставить отзыв</button>
    </div>
</form>
