<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link disabled" href="personal.area.hbs" tabindex="-1" aria-disabled="true">Личный кабинет</a>
            </div>
        </div>
    </div>
    <h2>Делитесь опытом!</h2>
    <h3>оставьте отзыв л компании, в которой вы проходили собеседование</h3>
    <h3>Изучайте отзывы ваших коллег перед собеседованием</h3>
    <a href="/personal.area">Оставить отзыв</a>

    <h3>Компании</h3>
</nav>
