<form action="/review" method="POST">
    <input name="company" class="form-control" type="text" placeholder="Название компании">
    <input name="date" class="form-control" type="date" placeholder="Дата собеседования">
    <input name="positionName" class="form-control" type="text" placeholder="Вакансия">
    <input name="stack" class="form-control" type="text" placeholder="Стек">
    <input name="technologies" class="form-control" type="text" placeholder="Технические вопросы">
    <input name="general-issues" class="form-control" type="text" placeholder="Default input">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Комментарий" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
    </div>
</form>







